body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 150px;
}
header nav img {
    width: 100px;
    height: 50px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #bc2008;
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 100%;
}


.song-list {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.song-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    width: 150px;
    text-align: center;
    flex-shrink: 0;
}

.song-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.recommendations {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.recommendations div {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    min-width: 0;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}