:root {
  --font-family: 'Monoton', cursive;
  --white: #ffffff;
  --light-gray: #b2b2b2;
  --dark-gray: #7f7f7f;
  --black: #000000;
  --yellow: #ffff88;
  --neon-yellow: #e5ff00;
  --pink: #FF69B4;
}

body {
  background-size: cover;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 1%;
}

nav .logout {
  margin-top: auto; /* Sposta "LOGOUT" in basso */
  margin-bottom: 1rem; /* Aggiungi un po' di spazio dal bordo */
}

/* unione di selettori*/
h3, h4 {
  font-family: var(--font-family);
}


section {
  position: relative;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  color: var(--black);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 2px;
  padding: 10px 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.combo > p {
  text-transform: uppercase;
}

button:hover {
  background-color: var(--light-gray);
}

button:active {
  background-color: var(--dark-gray);
}

#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

#volume {
  position: absolute; /* Permette di posizionarlo in modo assoluto */
  top: 125px;          /* Distanza dal bordo superiore */
  right: -30px;        /* Distanza dal bordo destro */
}

label[for="volume"] {
  position: absolute; 
  top: 30px;          /* Adatta la posizione del testo del label */
  right: 50px;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Assicura che l'elemento sia posizionabile */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra orizzontalmente */
  transform: translate(-50%, -50%); /* Compensa lo spostamento */
  height: 200px;
  width: 200px;
}

.number {
    font-family: var(--font-family);
    word-wrap: break-word;
    color: var(--neon-yellow);
    font-size: 5rem;
    font-weight: bold;
    animation: pop-in 0.5s ease;
}

/* Animazione per il cambio dei numeri */
@keyframes pop-in {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}


#score {
  color: var(--white);
  font-size: 28px;
}

#startGameModal {
  display: flex;
}

#endGameModal {
  display: none;
}

.modalMessage {
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-size: 18px;
  width: 75%;
  padding: 5% 3%;
  border: 3px solid var(--white);
  border-radius: 3px;
  background-color: var(--black);
  opacity: 1;
  z-index: 10;
}

.modalMessage > h3 {
  font-size: 28px;
  font-family: var(--font-family);
  color: var(--neon-yellow);
}


.links img {
  width: 40px;
  height: 40px;
}

.controls {
  position: absolute;
  top: 15px;
  right: -75px;
  display: flex;
  flex-direction: column;
}

.controls img {
  border-radius: 50%;
  background-color: var(--white);
  width: 25px;
  height: 25px;
  margin: 5px 0;
  border: 1px solid var(--white);
  cursor: pointer;
}

.combo {
  font-family: var(--font-family);
  font-size: 35px;
  position: absolute;
  left: -110px;
  top: 200px;
  color: var(--pink);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.combo p {
  margin: 0;
}

.combo span {
  font-size: 20px;
  margin-left: 5px;
  color: var(--yellow);
  visibility: hidden;
}

.title {
  display: none;
}

#directions {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  position: fixed;
  top: calc(50vh - 175px);
  left: calc(50vw - 150px);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  border: 3px solid var(--white);
  border-radius: 3px;
  padding: 10px;
}

#directions h4 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  border-bottom: 3px solid var(--white);
}

#directions ul {
  padding-inline-start: 0;
  flex-wrap: wrap;
  display: flex;
  color: var(--white);
  list-style-type: none;
}

#directions li {
  font-size: 15px;
  padding: 10px;
}

#directions li::before {
  content: "\25B7";
  color: var(--neon-yellow);
  margin-right: 10px;
}

.arrowImages {
  display: none;
}

@media only screen and (min-width: 600px) {
  .combo {
    font-size: 45px;
    left: -75px;
  }

  .combo span {
    font-size: 25px;
  }

  .controls {
    right: -30px;
  }

  .modalMessage {
    width: 50%;
    font-size: 23px;
  }

  .modalMessage > h3 {
    font-size: 33px;
  }

  .links {
    left: -40px;
  }

  .title {
    font-family: var(--font-family);
    width: 20vw;
    font-size: 20px;
    padding-left: 100px;
    word-wrap: break-word;
    color: var(--neon-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #directions {
    display: flex;
    width: 20vw;
    margin-left: 3%;
    position: static;
  }
}

@media only screen and (min-width: 768px) {
  .controls {
    right: 0;
  }

  .links {
    left: 0;
  }

  .title {
    width: 30vw;
    font-size: 30px;
  }

  #directions {
    width: 30vw;
  }

  #directions h4 {
    font-size: 24px;
  }

  #directions li {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .combo {
    font-size: 55px;
  }

  .combo span {
    font-size: 30px;
  }

  .controls {
    right: 25px;
  }

  .modalMessage {
    font-size: 28px;
  }

  .modalMessage > h3 {
    font-size: 38px;
  }

  .links {
    left: 25px;
  }

  .title {
    font-size: 45px;
  }

  #directions h4 {
    font-size: 28px;
  }

  .directions li {
    font-size: 20px;
  }

  footer{
    position: fixed;
    bottom: 0;
    background-color: white;
  }
}
