body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.search-box {
    text-align: right;
    margin: 1em;
}

#search {
    border-radius: 10px;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #888;
}



header {
    text-align: center;
    color: #bfb22b;
    font-size: 3rem;
    background-image: url('../assets/images/background/mjbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:250px;
}

header figure {
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height:100%;
    width:15%;
    margin:0 auto;
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 100%;
    background-image: url(../assets/images/background/background-assurdo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.profile h2 {
    text-align: center;
    color: #bfb22b;
    margin-top: 2em;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.profile p {
    text-align: center;
    color: #211b1b;
}

.drag-drop-area {
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: #eee5e5;
    text-align: center;
    transition: all 0.3s ease;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.user-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

#img-view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-view p {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    opacity:0;
}


#submitButton, .delete-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#submitButton {
    background-color: #bfb22b;
}

#submitButton:hover {
    background-color: #a29c1d;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

.profile, .trending, .players {
    padding: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:fit-content;
    margin:0 auto;
    margin-top: 5rem;
}

.trending h2, .players h2 {
    text-align: center;
    color: #bfb22b;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #555;
}

.card audio {
    width: 90%;
    margin-top: 1rem;
    outline: none;
}

.read-more {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #bfb22b;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #aca015;
}

.players {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.player-list {
    list-style: none;
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
    line-height: 2rem;
}

.player-list li {
    padding: 0.5rem 0;
    color: #333;
    font-weight: bold;
    padding-left: 0.5rem;

}

.player-list li:nth-child(odd) {
    background-color: #ececec;
    
}

.player-list li:nth-child(1) {
    background-color: gold;
}

.player-list li:nth-child(2) {
    background-color: #888888;
}

.player-list li:nth-child(3) {
    background-color: #CD7F32;
}


