body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../images/mjbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #211111; /* Fallback color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 150px;
}
header nav img {
    width: 60px;
    height: 50px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #bc2008;
    text-decoration:wavy;
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 100%;
}

.trending-songs {
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trending-songs h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


.song-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.song-card {
    background-color: rgba(255, 255, 255, 0.7); 
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.song-card:hover {
    transform: scale(1.05);
}

.song-card img {
    width: 100%;
    height: 200px;
    object-fit:fill;
}

.song-card h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #333;
}

.song-card p {
    font-size: 1rem;
    color: #555;
}

.song-card audio {
    width: 90%;
    margin-top: 1rem;
    outline: none;
}


.trending-articles {
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

.trending-articles h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.article-card {
    background-color: rgba(255, 255, 255, 0.7); 
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.article-card:hover {
    transform: scale(1.05);
}

.article-card img {
    width: 100%;
    height: 200px;
    object-fit:fill;
}

.article-card h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #333;
}

.article-card p {
    font-size: 1rem;
    color: #555;
}

.read-more {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #bc2008;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.trending-articles {
    margin-top: 4rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7); 
    color: #fff;
    text-align: center;
   
}

.players {
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7); 
    color: #fff;
    text-align: center;
}

.players h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.player-list {
    list-style: none;
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
    line-height: 2rem;
}

.player-list li {
    padding: 0.5rem 0;
    color: #333;
    font-weight: bold;
    
}

.player-list li:nth-child(odd) {
    background-color: #ececec;
    padding-left: 0.5rem;
    border-radius: 5px;
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: bottom;
    bottom: 0;
    width: 100%;
}
