body {
    display:grid;
    justify-content: center;
}

.navbar {
    background-color: rgb(170, 22, 22);
}

.navbar a {
    text-decoration:none;
    margin: 5px;
}

.input-login {
    display:flex;
    flex-direction: column;
}

    input {
    margin: 10px;
    width: 500px;
}

#content-register {
    display:none;
}

.input-register {
    display: flex;
    flex-direction: column;
}


.error{
    color: red;
}

.register-completed {
    color:green;
}